@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body{
  background-color: #000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.ConcertPoster{
  margin-left: 2px;
  padding: 100px;
}

.ConcertPoster img{
  width: 100%;
  height: 100%;
}

.ConcertPoster h1{
  text-align: center;
}

.Places{
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
}

.CafeA, .CafeB{
  width: 50%;
  height: 100%;
}

.CafeA img{
  margin-left: 50px;
  width: 90%;
  height: 90%;
}

.CafeB img{
  margin-left: 50px;
  width: 90%;
  height: 90%;
}

.CafeA a, .CafeB a{
  text-decoration: none;
}

.ConcertPoster .Places .CafeA h1{
  text-align: center;
}

.ConcertPoster .Places .CafeB h1{
  text-align: center;
}